:root{
    --background-color-header: #e0e0e0;
    --standard-color: #646664;
    --emphasis-color: #2196f3;
    --effect-color: #00ff4f;
    --secondary-color: #f5f5f5;
    --bg-color: #e0e0e0;
}

header{
    background-color: var(--background-color-header);
    padding: 2em;
}
header>hgroup{
    margin: 10px;
}
header>hgroup>h1{
    color: var(--emphasis-color);
    font-size: 3em;
}
header>p{
    margin: 20px;
}
header>hgroup .breadcrumb-list{
    display: inline-block;
    list-style: none;
}
header>hgroup .breadcrumb-list li+li:before{
    color: var(--standard-font-color);
    content: ">>";
}
header>hgroup .breadcrumb-item{
    display: inline-block;
}
header>hgroup .breadcrumb-item>a{
    color: var(--standar-font-color);
    text-decoration: none;
}
header>hgroup .breadcrumb-item>a:hover{
    text-decoration: underline;
}

.main-atualizar{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    margin: 20px 50px 20px;
}
.main-atualizar>#action-div{
    flex: 1;
    margin-right: 20px;
}
.main-atualizar>#action-div input{
    width: 50%;
    outline: none;
    border: 2px solid var(--standard-color);
    border-radius: 5px;
    font-family: "Quicksand";
}
.main-atualizar>#action-div label{
    font-size: 1.3em;
}
.main-atualizar>#action-div select{
    border: 2px solid var(--standard-color);
    border-radius: 5px;
    font-family: "Quicksand";
}
.main-atualizar>#action-div textarea{
    outline: none;
    border: 2px solid var(--standard-color);
    border-radius: 5px;
    font-family: "Quicksand";
    width: 100%;
}
.main-atualizar>#action-div #atualizar-form{
    border-top: 2px var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 0.9em;
}
.main-atualizar>#action-div #atualizar-form>div{
   margin: 10px;
}
.main-atualizar>#action-div #atualizar-form>div:before{
   content: '>';
   color: var(--effect-color);
}
.main-atualizar button[type="submit"]{
    margin-top: 5px;
    background-color: var(--effect-color);
    padding: 5px;
    border: 2px solid transparent;
    border-radius: 10px;
    font-family: "Quicksand";
    font-weight: 700;
    font-size: 1.2em;
    color: var(--secondary-color);
}
.main-atualizar button[type="submit"]:hover{
    background-color: var(--secondary-color);
    border-color: var(--effect-color);
    color: var(--effect-color);
}

.main-atualizar>#componente-info-div{
    flex: 1;
    border-left: 2px solid var(--bg-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em;
    font-size: 1em;
    color: var(--emphasis-color);
    font-weight: 700;
}
.main-atualizar>#componente-info-div p+p{
    border-top: 2px dotted var(--bg-color);
    margin-top: 5px;
}

.main-atualizar>#componente-info-div span{
    color: var(--standard-color);
    font-size: 0.8em;
    font-weight: 500;
}
