:root{
    --background-color-header: #e0e0e0;
    --standard-color: #646664;
    --hover-effect-color: #2196f3;
    --effect-color: #00ff4f;
    --title-color: #2196f3;
    --text-color-button-color: #f5f5f5;
    --text-color-focus: #00ff4f;
    --background-color-button-submit: #00ff4f;
    --background-color-button-submit-hover: #f5f5f5;
    --background-color-button-submit-click: #e0e0e0;
}

header{
    background-color: var(--background-color-header);
    padding: 2em;
}
header>hgroup{
    margin: 10px;
}
header>hgroup>h1{
    color: var(--title-color);
    font-size: 3em;
}
header>p{
    margin: 20px;
}
header>hgroup .breadcrumb-list{
    display: inline-block;
    list-style: none;
}
header>hgroup .breadcrumb-list li+li:before{
    color: var(--standar-font-color);
    content: ">>";
}
header>hgroup .breadcrumb-item{
    display: inline-block;
}
header>hgroup .breadcrumb-item>a{
    color: var(--standar-font-color);
    text-decoration: none;
}
header>hgroup .breadcrumb-item>a:hover{
    text-decoration: underline;
}

.main-cadastro{
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.main-cadastro>.options{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 50px;
}
.main-cadastro>.options>.div-option{
    border: 2px solid transparent;
    border-radius: 10px;
    position: relative;
    transition: 0.3s;
}
.main-cadastro>.options>.div-option:hover{
    color: var(--hover-effect-color);
    border: 2px solid var(--hover-effect-color);
    border-radius: 10px;
    top: -5px;
    transition: 0.3s;
}
.main-cadastro>.options>.div-option>label{
    font-size: 1.5em;
}
.main-cadastro>.options>.div-option>p{
    margin: 10px;
}

.main-cadastro>.forms-cadastro{
    flex: 3;
    border-left: 2px solid #e0e0e0;
    border-radius: 5px;
    display: flex;
}
.main-cadastro>.forms-cadastro>form{
    text-align: center;
    width: 100%;
}
.main-cadastro>.forms-cadastro .form-style-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1;
}
.main-cadastro>.forms-cadastro .form-style-div form-div{
    flex: 1;
    margin-top: 5px;
}
.main-cadastro>.forms-cadastro>form .form-div{
    margin: 10px;
    font-size: 1em;
    font-weight: 500;
    text-align: left;
}
.main-cadastro>.forms-cadastro>form .form-div{
    margin: 10px;
    font-size: 1em;
}
.main-cadastro>.forms-cadastro>form .form-div>input{
    outline: none;
    border: 2px solid var(--standard-color);
    border-radius: 5px;
    font-family: "Quicksand";
}
.main-cadastro>.forms-cadastro>form .form-div>select{
    border: 2px solid var(--standard-color);
    border-radius: 5px;
    font-family: "Quicksand";
}
.main-cadastro>.forms-cadastro>form textarea{
    outline: none;
    border: 2px solid var(--standard-color);
    border-radius: 5px;
    font-family: "Quicksand";
    width: 100%;
}
button{
    background-color: var(--background-color-button-submit);
    padding: 5px;
    border: 2px solid transparent;
    border-radius: 10px;
    font-family: "Quicksand";
    font-weight: 700;
    font-size: 1.4em;
    color: var(--text-color-button-color);
}
button{
    background-color: var(--background-color-button-submit-hover);
    border-color: var(--background-color-button-submit);
    color: var(--text-color-focus);
}

#qr-field{
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#qr-field #qr-code{
    background-color: #e0e0e0;
    border-radius: 20px;
    padding: 20px;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}