:root{
    --background-color-header: #e0e0e0;
    --standard-color: #646664;
    --emphasis-color: #2196f3;
    --effect-color: #00ff4f;
    --secondary-color: #f5f5f5;
    --bg-color: #e0e0e0;
}

header{
    background-color: var(--background-color-header);
    padding: 2em;
}
header>hgroup{
    margin: 10px;
}
header>hgroup>h1{
    color: var(--emphasis-color);
    font-size: 3em;
}
header>p{
    margin: 20px;
}
header>hgroup .breadcrumb-list{
    display: inline-block;
    list-style: none;
}
header>hgroup .breadcrumb-list li+li:before{
    color: var(--standard-font-color);
    content: ">>";
}
header>hgroup .breadcrumb-item{
    display: inline-block;
}
header>hgroup .breadcrumb-item>a{
    color: var(--standar-font-color);
    text-decoration: none;
}
header>hgroup .breadcrumb-item>a:hover{
    text-decoration: underline;
}

main

#component-list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#component-list .componente{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px;
    align-items: center;
}
#component-list .componente+.componente{
    border-top: 2px solid var(--bg-color);
}
#component-list .componente>.info p{
    color: var(--emphasis-color);
    margin: 5px;
}
#component-list .componente>.info span{
    color: var(--standard-color);
}
#component-list .qrcontainer{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}


button{
    background-color: var(--effect-color);
    width: 100%;
    padding: 5px;
    border: 2px solid transparent;
    border-radius: 10px;
    font-family: "Quicksand";
    font-weight: 700;
    font-size: 1.3em;
    color: var(--secondary-color);
    margin: 20px;
}
button:hover{
    background-color: var(--secondary-color);
    border-color: var(--effect-color);
    color: var(--effect-color);
}