:root{
    --standar-font-color: #646664;
    --primary-color: #2196f3;
    --secundary-color: #e0e0e0;
    --third-color: #00ff4f;
    --fourth-color: #ffd000;
    --fifth-color: #ff3131;
    --background-color-body: #f5f5f5;
    --hover-color-button: rgba(255, 255, 255, 0.3);
}

header{
    background-color: var(--secundary-color);
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header>.header-style-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header>.header-style-div>hgroup{
    margin: 10px;
}
header>.header-style-div>hgroup>h1{
    color: var(--primary-color);
    font-size: 3em;
}
header>.header-style-div>hgroup .breadcrumb-list{
    display: inline-block;
    list-style: none;
}
header>.header-style-div>hgroup .breadcrumb-list li+li:before{
    color: var(--standar-font-color);
    content: ">>";
}
header>.header-style-div>hgroup .breadcrumb-item{
    display: inline-block;
}
header>.header-style-div>hgroup .breadcrumb-item>a{
    color: var(--standar-font-color);
    text-decoration: none;
}
header>.header-style-div>hgroup .breadcrumb-item>a:hover{
    text-decoration: underline;
}
header>.header-style-div>ul{
    text-align: right;
    color: var(--fourth-color);
    margin: 10px;
    font-size: 1em;
    font-weight: bold;
    list-style: none;
}

header .logout-button{
    border: 1.5px solid transparent;
    border-radius: 5px;
    padding: 0.3em;
    background-color: transparent;
    color: var(--fifth-color);
    font-size: large;
    font-weight: bold;
    margin: 10px;
    position: relative;
}
header .logout-button:hover{
    border: 1.5px solid var(--fifth-color);
    background-color: var(--hover-color-button);
}

.main-painel{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
    margin: 30px;
}

.main-painel div{
    background-color: var(--secundary-color);
    position: relative;
    border: 3px transparent solid;
    border-radius: 30px;
    height: 70%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    font-weight: bold;
    color: var(--primary-color);
}
.main-painel div:hover{
    background-color: transparent;
    top: -3px;
    border-color: var(--primary-color);
}