@font-face{
    font-family: "Quicksand";
    src: url('../fonts/Quicksand/Quicksand-VariableFont_wght.ttf');
}

:root{
    --background-color-body: #f5f5f5;
    --background-color-nav: linear-gradient(90deg, #2196f3, #0074fd);
    --text-color-nav: white;
    --nav-hover-effect-color: #00ff4f;
    --nav-special-color: #ffd000;
    --background-color-nav-hover-effect: rgba(50, 50, 50, 0.3);
    --standar-font-color: #646664;
    --background-color-footer: #e0e0e0;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background: var(--background-color-body);
    font-family: "Quicksand";
    width: 100vw;
    overflow-x: hidden;
    color: var(--standar-font-color);
}

nav{
    background: var(--background-color-nav);
    color: var(--text-color-nav);
    display: flex;
    align-items: center;
    padding: 1rem;
    position: sticky;
    top: 0px;
    z-index: 1;
}
nav a{
    color: var(--text-color-nav);
    text-decoration: none;
}
nav>.nav-title{
    flex: 4;
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 800;
    margin: 0 auto 0;
}
nav>.nav-list{
    flex: 4;
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    font-weight: 500;
    flex-direction: row;
    margin: 0 auto 0;
}
nav>.nav-list a{
    padding: 1.35em 2em;
    border-left: 3px transparent solid;
}
nav>.nav-list a:hover{
    background-color: var(--background-color-nav-hover-effect);
    border-left: 3px var(--nav-hover-effect-color) solid;
    text-decoration: underline;
    color: var(--nav-hover-effect-color);
}
nav>.nav-list #painelItem>a{
    color: var(--nav-special-color);
    font-weight: 700;
}
nav>.nav-list #painelItem>a:hover{
    background-color: var(--background-color-nav-hover-effect);
    border-left: 3px var(--nav-special-color) solid;
    text-decoration: underline;
}

main{
    margin: 1rem;
}

footer{
    background-color: var(--background-color-footer);
    padding: 3em;
    text-align: center;
    font-size: 1.3em;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
footer p{
    margin: 10px;
}


.wrapper{
    position: absolute;
    background-color: transparent;
    overflow-y: hidden;
    width: 100vw;
    height: 88vh;
}
.box div{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid #00ff4f;
    z-index: 0;
}
.box div:nth-child(1){
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
}
.box div:nth-child(2){
    top: 70%;
    left: 50%;
    animation: animate 7s linear infinite;
}
.box div:nth-child(3){
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
}
.box div:nth-child(4){
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;
}
.box div:nth-child(5){
    top: 67%;
    left: 10%;
    animation: animate 6s linear infinite;
}
.box div:nth-child(6){
    top: 80%;
    left: 70%;
    animation: animate 12s linear infinite;
}
.box div:nth-child(7){
    top: 60%;
    left: 80%;
    animation: animate 15s linear infinite;
}
.box div:nth-child(8){
    top: 32%;
    left: 25%;
    animation: animate 16s linear infinite;
}
.box div:nth-child(9){
    top: 70%;
    left: 50%;
    animation: animate 7s linear infinite;
}.box div:nth-child(10){
    top: 20%;
    left: 80%;
    animation: animate 5s linear infinite;
}


@keyframes animate{
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100%{
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}














#wave-effect{
    position: absolute;
    width: 100vw;
    bottom: 0;
}

#wave-container>use{
    animation: movement 50s cubic-bezier(.55,.5,.45,.5) infinite;
}
#wave-container>use:nth-child(1){
    animation-delay: -2s;
    animation-duration: 4s;
}
#wave-container>use:nth-child(2){
    animation-delay: -1s;
    animation-duration: 9s;
}
#wave-container>use:nth-child(3){
    animation-delay: -5s;
    animation-duration: 3s;
}
#wave-container>use:nth-child(4){
    animation-delay: -9s;
    animation-duration: 7s;
}
#wave-container>use:nth-child(5){
    animation-delay: -3s;
    animation-duration: 5s;
}
#wave-container>use:nth-child(6){
    animation-delay: 0s;
    animation-duration: 12s;
}
@keyframes movement{
    0% {
        transform: translate(-90px,0);
    }
    100% {
        transform: translate(107px,0);
    }
}
    